h1 {
	font-family: 'Indie Flower', cursive;
	text-align: center;
	font-size: 40px
}

table {
	margin: auto;
}

td:hover {
	border: 1px solid blue;
}

td:active {
	border: 1px solid blue;
}

td {
	width: 100px;
	height: 100px;
}

.vertical {
	border-left: 1px solid gray;
	border-right: 1px solid gray;
}

.horizontal {
	border-top: 1px solid gray;
	border-bottom: 1px solid gray;
}

.surrounded {
	border: 1px solid gray;
}

